{
  "openapi": "3.1.0",
  "info": {
    "title": "Wixzel Phone API",
    "version": "2026-09-01",
    "description": "APIs for AI voice agents. One key, one balance, every voice engine.\n\n## Authentication\nSend your key as `Authorization: Bearer wv_live_...`. Keys are scoped — grant only what an integration needs. There is no admin scope.\n\n## Versioning\nThe `/v1` prefix covers additive changes. Behavioural changes ship behind a dated `Wixzel-Version` header, and existing keys keep the behaviour they were created with.\n\n## Money\nAmounts are integer **micro-USD** (1,000,000 = $1.00). Voice usage is billed per second, per token and per character, so a float dollar figure cannot represent it without disagreeing with the ledger.\n\n## Errors\nEvery error carries a stable `code` and a `request_id`. Match on `code`; the `message` is for humans and may change.",
    "contact": {
      "name": "Wixzel Phone",
      "url": "https://phone.wixzel.com"
    }
  },
  "servers": [
    {
      "url": "https://api.phone.wixzel.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Place calls and read what happened on them."
    },
    {
      "name": "Agents",
      "description": "The prompt, voice and behaviour of a caller."
    },
    {
      "name": "Leads",
      "description": "People to call, and data to merge into prompts."
    },
    {
      "name": "Campaigns",
      "description": "Call a list of leads with one agent."
    },
    {
      "name": "Knowledge bases",
      "description": "Facts an agent can draw on mid-call."
    },
    {
      "name": "Phone numbers",
      "description": "Numbers on your SIP trunks."
    },
    {
      "name": "SIP trunks",
      "description": "Your carrier connections."
    },
    {
      "name": "Appointments",
      "description": "Bookings, including ones agents make on calls."
    },
    {
      "name": "Usage",
      "description": "Itemised billing lines."
    },
    {
      "name": "Billing",
      "description": "Balance, ledger and top-ups."
    },
    {
      "name": "API keys",
      "description": "Create, scope and rotate keys."
    },
    {
      "name": "Engines",
      "description": "What the platform can serve, and what it costs."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Wixzel Phone API key: `Authorization: Bearer wv_live_...`. Keys are scoped; grant only what the integration needs."
      }
    },
    "schemas": {
      "SttConfig": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "pattern": "^[a-z0-9_-]+\\/[a-zA-Z0-9._-]+$",
            "example": "deepgram/nova-3"
          },
          "language": {
            "type": "string",
            "default": "en-US",
            "description": "BCP-47 tag, or \"multi\" for automatic detection."
          },
          "endpointing_ms": {
            "type": "integer",
            "minimum": 50,
            "maximum": 3000,
            "description": "Silence before a turn is considered finished. Lower is snappier and more prone to cutting people off."
          }
        },
        "required": [
          "model"
        ]
      },
      "LlmConfig": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "pattern": "^[a-z0-9_-]+\\/[a-zA-Z0-9._-]+$",
            "example": "openrouter/gpt-4o-mini"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4096,
            "description": "Caps reply length. Long replies cost the caller waiting time as well as money."
          }
        },
        "required": [
          "model"
        ]
      },
      "TtsConfig": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "pattern": "^[a-z0-9_-]+\\/[a-zA-Z0-9._-]+$",
            "example": "elevenlabs/eleven_turbo_v2_5"
          },
          "voice": {
            "type": "string",
            "example": "21m00Tcm4TlvDq8ikWAM"
          },
          "stability": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "similarity_boost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2
          }
        },
        "required": [
          "model"
        ]
      },
      "RealtimeConfig": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "pattern": "^[a-z0-9_-]+\\/[a-zA-Z0-9._-]+$",
            "example": "google/gemini-live"
          },
          "voice": {
            "type": "string",
            "example": "Charon"
          },
          "language": {
            "type": "string",
            "default": "auto"
          }
        },
        "required": [
          "model"
        ]
      },
      "TurnTaking": {
        "type": "object",
        "properties": {
          "interrupt_sensitivity": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high"
            ],
            "default": "normal",
            "description": "How readily the agent stops talking when the caller speaks."
          },
          "silence_wait_ms": {
            "type": "integer",
            "minimum": 100,
            "maximum": 5000
          }
        }
      },
      "VoiceConfig": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "stt": {
            "$ref": "#/components/schemas/SttConfig"
          },
          "llm": {
            "$ref": "#/components/schemas/LlmConfig"
          },
          "tts": {
            "$ref": "#/components/schemas/TtsConfig"
          },
          "realtime": {
            "$ref": "#/components/schemas/RealtimeConfig"
          },
          "turn_taking": {
            "$ref": "#/components/schemas/TurnTaking"
          }
        },
        "description": "Either a composed pipeline (stt + llm + tts) or a single realtime model. Not both."
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "agent"
            ]
          },
          "name": {
            "type": "string"
          },
          "system_prompt": {
            "type": "string"
          },
          "opening_message": {
            "type": [
              "string",
              "null"
            ]
          },
          "voice": {
            "$ref": "#/components/schemas/VoiceConfig"
          },
          "language": {
            "type": "string"
          },
          "knowledge_base_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "outbound_phone_number_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "appointment_booking_enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "system_prompt",
          "opening_message",
          "voice",
          "language",
          "knowledge_base_id",
          "outbound_phone_number_id",
          "appointment_booking_enabled",
          "created_at"
        ]
      },
      "AgentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "rate_limit_error",
                  "insufficient_credits",
                  "not_found_error",
                  "conflict_error",
                  "api_error"
                ]
              },
              "code": {
                "type": "string",
                "description": "Stable machine-readable code.",
                "example": "agent_not_found"
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation. Do not match on this — match on code."
              },
              "param": {
                "type": "string",
                "description": "Which field caused the failure, when applicable."
              },
              "doc_url": {
                "type": "string"
              },
              "request_id": {
                "type": "string",
                "description": "Quote this when asking for help.",
                "example": "req_01HXYZ..."
              }
            },
            "required": [
              "type",
              "code",
              "message",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "system_prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "description": "The agent's instructions. Spoken conversation, so keep it short and concrete."
          },
          "opening_message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Spoken as soon as the call connects. Supports {{name}} style merge fields. Required — an agent without one answers in silence."
          },
          "voice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceConfig"
              },
              {
                "type": "object"
              }
            ]
          },
          "language": {
            "type": "string",
            "default": "en-US"
          },
          "knowledge_base_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "outbound_phone_number_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "appointment_booking_enabled": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "name",
          "system_prompt",
          "opening_message",
          "voice"
        ]
      },
      "UpdateAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "system_prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "description": "The agent's instructions. Spoken conversation, so keep it short and concrete."
          },
          "opening_message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Spoken as soon as the call connects. Supports {{name}} style merge fields. Required — an agent without one answers in silence."
          },
          "voice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceConfig"
              },
              {
                "type": "object"
              }
            ]
          },
          "language": {
            "type": "string",
            "default": "en-US"
          },
          "knowledge_base_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "outbound_phone_number_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "appointment_booking_enabled": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "lead"
            ]
          },
          "name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "default": {},
            "description": "Arbitrary key/value data, usable as merge fields in prompts."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "phone_number",
          "tags",
          "created_at"
        ]
      },
      "LeadList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lead"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreateLead": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "phone_number": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 64
            },
            "maxItems": 50
          }
        },
        "required": [
          "name",
          "phone_number"
        ]
      },
      "UpdateLead": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "phone_number": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 64
            },
            "maxItems": 50
          }
        }
      },
      "BulkLeadResult": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "bulk_result"
            ]
          },
          "created_count": {
            "type": "integer"
          },
          "failed_count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lead"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Position in the submitted array."
                },
                "phone_number": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "phone_number",
                "error"
              ]
            }
          }
        },
        "required": [
          "object",
          "created_count",
          "failed_count",
          "data",
          "errors"
        ]
      },
      "BulkCreateLeads": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateLead"
            },
            "minItems": 1,
            "maxItems": 1000
          }
        },
        "required": [
          "leads"
        ]
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "campaign"
            ]
          },
          "name": {
            "type": "string"
          },
          "agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "scheduled",
              "running",
              "completed",
              "stopped",
              "paused"
            ]
          },
          "paused_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "lead_count": {
            "type": "integer"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "agent_id",
          "status",
          "paused_reason",
          "lead_count",
          "scheduled_at",
          "created_at"
        ]
      },
      "KnowledgeBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "knowledge_base"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "basic_info": {
            "type": [
              "string",
              "null"
            ]
          },
          "faqs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              },
              "required": [
                "question",
                "answer"
              ]
            }
          },
          "other_info": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "description",
          "basic_info",
          "faqs",
          "other_info",
          "created_at"
        ]
      },
      "KnowledgeBaseList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeBase"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreateKnowledgeBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "basic_info": {
            "type": "string",
            "maxLength": 20000
          },
          "faqs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 1000
                },
                "answer": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 5000
                }
              },
              "required": [
                "question",
                "answer"
              ]
            },
            "maxItems": 200
          },
          "other_info": {
            "type": "string",
            "maxLength": 20000
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateKnowledgeBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "basic_info": {
            "type": "string",
            "maxLength": 20000
          },
          "faqs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 1000
                },
                "answer": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 5000
                }
              },
              "required": [
                "question",
                "answer"
              ]
            },
            "maxItems": 200
          },
          "other_info": {
            "type": "string",
            "maxLength": 20000
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "phone_number"
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "sip_trunk_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "inbound_agent_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "phone_number",
          "name",
          "sip_trunk_id",
          "inbound_agent_id",
          "status",
          "created_at"
        ]
      },
      "PhoneNumberList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreatePhoneNumber": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "sip_trunk_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "inbound_agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "description": "Answers inbound calls to this number. Without it, inbound calls are rejected.",
            "example": "6a96a3ead6e886d42462dd3e"
          }
        },
        "required": [
          "phone_number",
          "sip_trunk_id"
        ]
      },
      "UpdatePhoneNumber": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "sip_trunk_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "inbound_agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "description": "Answers inbound calls to this number. Without it, inbound calls are rejected.",
            "example": "6a96a3ead6e886d42462dd3e"
          }
        }
      },
      "SipTrunk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "sip_trunk"
            ]
          },
          "name": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "transport": {
            "type": "string",
            "enum": [
              "udp",
              "tcp",
              "tls"
            ]
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "send_plus": {
            "type": "boolean"
          },
          "platform_ip": {
            "type": [
              "string",
              "null"
            ],
            "description": "The address calls are placed from. Allowlist it with your carrier: most authorise outbound calls by source IP, and without it the trunk looks configured while no call completes. Read from the deployment rather than written down, so it cannot go stale. Null if this install has not set it.",
            "example": "95.216.218.102"
          },
          "origination_uri": {
            "type": [
              "string",
              "null"
            ],
            "description": "Where your carrier must send INBOUND calls. Paste it into the field your provider calls the Origination URI (Twilio Elastic SIP Trunking), or the termination point / destination SIP URI — the names differ, the string does not. `platform_ip` is the outbound half: it tells the carrier to accept calls FROM us. This is the inbound half, and it is separate configuration in a different part of their console. Without it a number is bought, pointed at an agent, and simply never rings, because the carrier has nowhere to deliver the call to. Null if this install has not published a SIP address.",
            "example": "sip:95.216.218.102:5090"
          },
          "provider_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "host",
          "port",
          "transport",
          "username",
          "send_plus",
          "platform_ip",
          "origination_uri",
          "provider_name",
          "status",
          "created_at"
        ]
      },
      "SipTrunkList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipTrunk"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreateSipTrunk": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9 _-]+$"
          },
          "host": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9.-]+$"
          },
          "port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "default": 5060
          },
          "transport": {
            "type": "string",
            "enum": [
              "udp",
              "tcp",
              "tls"
            ],
            "default": "udp"
          },
          "username": {
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9._-]*$"
          },
          "password": {
            "type": "string",
            "maxLength": 256
          },
          "auth_realm": {
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9.-]*$"
          },
          "default_caller_id": {
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9+ _-]*$"
          },
          "dial_prefix": {
            "type": "string",
            "maxLength": 16,
            "pattern": "^[0-9+*#]*$"
          },
          "send_plus": {
            "type": "boolean",
            "default": true,
            "description": "Whether to keep the leading \"+\" when dialling, so the request URI reads sip:+15551234567@host. Twilio and Telnyx expect it. Many wholesale carriers cannot parse it and answer 408 Request Timeout after a few seconds, with the call showing in their portal as received but never answered. Set false to send bare digits instead."
          },
          "provider_name": {
            "type": "string",
            "maxLength": 64
          }
        },
        "required": [
          "name",
          "host"
        ]
      },
      "UpdateSipTrunk": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9 _-]+$"
          },
          "host": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9.-]+$"
          },
          "port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "default": 5060
          },
          "transport": {
            "type": "string",
            "enum": [
              "udp",
              "tcp",
              "tls"
            ],
            "default": "udp"
          },
          "username": {
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9._-]*$"
          },
          "password": {
            "type": "string",
            "maxLength": 256
          },
          "auth_realm": {
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9.-]*$"
          },
          "default_caller_id": {
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9+ _-]*$"
          },
          "dial_prefix": {
            "type": "string",
            "maxLength": 16,
            "pattern": "^[0-9+*#]*$"
          },
          "send_plus": {
            "type": "boolean",
            "default": true,
            "description": "Whether to keep the leading \"+\" when dialling, so the request URI reads sip:+15551234567@host. Twilio and Telnyx expect it. Many wholesale carriers cannot parse it and answer 408 Request Timeout after a few seconds, with the call showing in their portal as received but never answered. Set false to send bare digits instead."
          },
          "provider_name": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "SipTrunkStatus": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "sip_trunk_status"
            ]
          },
          "sip_trunk_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "transport": {
            "type": [
              "string",
              "null"
            ]
          },
          "origination_uri": {
            "type": [
              "string",
              "null"
            ],
            "description": "Where the carrier must send inbound calls. Repeated here because a number that never rings is half of \"why is this not working\", and unlike everything else in this response it is not a state we can measure — if it is missing from the carrier's Origination URI field the call never reaches us and nothing on this side is aware of it.",
            "example": "sip:95.216.218.102:5090"
          },
          "asterisk": {
            "type": "object",
            "properties": {
              "connected": {
                "type": "boolean",
                "description": "Whether this server currently holds an ARI connection."
              },
              "endpoint_known": {
                "type": "boolean",
                "description": "False until the trunk has synced into Asterisk."
              },
              "endpoint_state": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "reachable": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Asterisk's own qualify result. Null when it is not qualifying this trunk. Authoritative for \"is it working right now\"."
              },
              "round_trip_ms": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "detail": {
                "type": "string"
              }
            },
            "required": [
              "connected",
              "endpoint_known",
              "endpoint_state",
              "reachable",
              "round_trip_ms",
              "detail"
            ]
          },
          "probe": {
            "type": "object",
            "properties": {
              "reachable": {
                "type": "boolean",
                "description": "A TCP connect or SIP OPTIONS sent from this server just now. Authoritative for \"can we route to it at all\". Some providers ignore unauthenticated pings, so false here with Asterisk reachable is normal."
              },
              "method": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              }
            },
            "required": [
              "reachable",
              "method",
              "detail"
            ]
          },
          "recent_failures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "call_id": {
                  "type": "string"
                },
                "failure_code": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "failure_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "at": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "call_id",
                "failure_code",
                "failure_reason",
                "at"
              ]
            },
            "description": "The last few carrier rejections on this account, newest first. A reachable trunk that rejects every call is usually a suspended or unfunded carrier account — cause 21."
          }
        },
        "required": [
          "object",
          "sip_trunk_id",
          "name",
          "host",
          "port",
          "transport",
          "origination_uri",
          "asterisk",
          "probe",
          "recent_failures"
        ]
      },
      "SipTrunkTest": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "sip_trunk_test"
            ]
          },
          "sip_trunk_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "reachable": {
            "type": "boolean"
          },
          "method": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "tested_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "object",
          "sip_trunk_id",
          "reachable",
          "method",
          "detail",
          "tested_at"
        ]
      },
      "SipLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Monotonic within the buffer. Pass the highest you have seen as `since_id`."
          },
          "level": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "call_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "level",
          "message",
          "call_id",
          "at"
        ]
      },
      "SipLogList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SipLogEntry"
            }
          },
          "last_id": {
            "type": "integer",
            "description": "Pass as `since_id` on the next poll to receive only new entries."
          }
        },
        "required": [
          "object",
          "data",
          "last_id"
        ]
      },
      "CampaignList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreateCampaign": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
            "minItems": 1,
            "maxItems": 10000
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "Starts immediately when omitted.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "name",
          "agent_id",
          "lead_ids"
        ]
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "appointment"
            ]
          },
          "client_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone_number": {
            "type": "string"
          },
          "date_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "duration_minutes": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "completed",
              "canceled"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "agent_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "client_name",
          "phone_number",
          "date_time",
          "duration_minutes",
          "status",
          "notes",
          "agent_id",
          "lead_id",
          "created_at"
        ]
      },
      "AppointmentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Appointment"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreateAppointment": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string",
            "maxLength": 200
          },
          "phone_number": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "date_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "duration_minutes": {
            "type": "integer",
            "minimum": 5,
            "maximum": 480,
            "default": 30
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          },
          "agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          }
        },
        "required": [
          "phone_number",
          "date_time",
          "agent_id",
          "lead_id"
        ]
      },
      "UpdateAppointment": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string",
            "maxLength": 200
          },
          "phone_number": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "date_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "duration_minutes": {
            "type": "integer",
            "minimum": 5,
            "maximum": 480,
            "default": 30
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          },
          "agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "call"
            ]
          },
          "session_id": {
            "type": "string",
            "description": "Stable id for this call across logs, usage and webhooks."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "ringing",
              "in-progress",
              "completed",
              "failed",
              "busy",
              "no-answer",
              "canceled"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "agent_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "campaign_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "from": {
            "type": [
              "string",
              "null"
            ]
          },
          "to": {
            "type": [
              "string",
              "null"
            ]
          },
          "duration_seconds": {
            "type": [
              "integer",
              "null"
            ]
          },
          "engine": {
            "type": [
              "string",
              "null"
            ]
          },
          "recording_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "cost_micros": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "failure_code": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Q.850 hangup cause from the carrier, or null if the call connected. Branch on this rather than on `failure_reason`, which is prose and may be reworded. 17 busy, 19 no answer, 21 rejected by the carrier, 34 congestion, 102 timeout.",
            "example": 21
          },
          "failure_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "What to actually do about the failure, in plain language. Null if the call connected.",
            "example": "The provider rejected the call outright (403/407). In order of likelihood: your carrier account is suspended, closed, or out of balance; …"
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "session_id",
          "status",
          "direction",
          "agent_id",
          "lead_id",
          "campaign_id",
          "from",
          "to",
          "duration_seconds",
          "engine",
          "recording_url",
          "summary",
          "cost_micros",
          "failure_code",
          "failure_reason",
          "started_at",
          "ended_at"
        ]
      },
      "CreateCall": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{6,14}$",
            "example": "+14155550100"
          },
          "agent_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "from_number_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "description": "Defaults to the agent's outbound number.",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "description": "Existing lead to attribute the call to. One is created if omitted.",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "lead_name": {
            "type": "string",
            "maxLength": 200
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Echoed back on the call and in webhooks. Not sent to the model."
          }
        },
        "required": [
          "to",
          "agent_id"
        ]
      },
      "CallList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Call"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CallError": {
        "type": "object",
        "properties": {
          "service": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which provider or subsystem reported it."
          },
          "code": {
            "type": [
              "string",
              "null"
            ]
          },
          "message": {
            "type": "string"
          },
          "at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "service",
          "code",
          "message",
          "at"
        ]
      },
      "TranscriptEntry": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system"
            ]
          },
          "content": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "CallDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Call"
          },
          {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CallError"
                }
              },
              "transcript": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TranscriptEntry"
                }
              },
              "transfers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "destination_name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string"
                    },
                    "reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "attempt": {
                      "type": "integer"
                    },
                    "requested_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "ISO 8601, always UTC.",
                      "example": "2026-09-01T12:00:00.000Z"
                    },
                    "answered_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "ISO 8601, always UTC.",
                      "example": "2026-09-01T12:00:00.000Z"
                    },
                    "failure_code": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sip_cause": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "destination_name",
                    "status",
                    "reason",
                    "attempt",
                    "requested_at",
                    "answered_at",
                    "failure_code",
                    "sip_cause"
                  ]
                }
              }
            },
            "required": [
              "errors",
              "transcript",
              "transfers"
            ]
          }
        ]
      },
      "UsageEvent": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "usage_event"
            ]
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "component": {
            "type": "string",
            "enum": [
              "stt",
              "llm",
              "tts",
              "realtime",
              "telephony",
              "platform_fee",
              "platform_api"
            ]
          },
          "provider": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "unit": {
            "type": "string",
            "example": "second"
          },
          "quantity": {
            "type": "number"
          },
          "unit_price_micros": {
            "type": "number",
            "description": "Rate applied. Fractional — sub-micro rates are normal."
          },
          "price_micros": {
            "type": "integer",
            "description": "What this line cost.",
            "example": 194000
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "object",
          "session_id",
          "component",
          "provider",
          "model",
          "unit",
          "quantity",
          "unit_price_micros",
          "price_micros",
          "occurred_at"
        ]
      },
      "UsageEventList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageEvent"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "UsageSummary": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "usage_summary"
            ]
          },
          "period_start": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "total_micros": {
            "type": "integer",
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "total_display": {
            "type": "string"
          },
          "by_component": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "component": {
                  "type": "string",
                  "enum": [
                    "stt",
                    "llm",
                    "tts",
                    "realtime",
                    "telephony",
                    "platform_fee",
                    "platform_api"
                  ]
                },
                "provider": {
                  "type": "string"
                },
                "model": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "price_micros": {
                  "type": "integer",
                  "description": "Micro-USD. 1_000_000 = $1.00.",
                  "example": 194000
                }
              },
              "required": [
                "component",
                "provider",
                "model",
                "quantity",
                "price_micros"
              ]
            }
          }
        },
        "required": [
          "object",
          "period_start",
          "period_end",
          "total_micros",
          "total_display",
          "by_component"
        ]
      },
      "Balance": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "balance"
            ]
          },
          "balance_micros": {
            "type": "integer",
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "balance_display": {
            "type": "string",
            "example": "$42.19"
          },
          "held_micros": {
            "type": "integer",
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "available_micros": {
            "type": "integer",
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD"
            ]
          },
          "low_balance_threshold_micros": {
            "type": "integer",
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          }
        },
        "required": [
          "object",
          "balance_micros",
          "balance_display",
          "held_micros",
          "available_micros",
          "currency",
          "low_balance_threshold_micros"
        ]
      },
      "LedgerEntry": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "ledger_entry"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "topup",
              "usage",
              "refund",
              "adjustment",
              "promo",
              "overage",
              "chargeback"
            ]
          },
          "amount_micros": {
            "type": "integer",
            "description": "Signed. Negative is a debit.",
            "example": 194000
          },
          "balance_after_micros": {
            "type": "integer",
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "ref_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "ref_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "object",
          "kind",
          "amount_micros",
          "balance_after_micros",
          "ref_type",
          "ref_id",
          "created_at"
        ]
      },
      "LedgerEntryList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LedgerEntry"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Topup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "topup"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed",
              "refunded"
            ]
          },
          "amount_usd": {
            "type": "number"
          },
          "credited_micros": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "checkout_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Send the customer here to pay."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "amount_usd",
          "credited_micros",
          "checkout_url",
          "created_at"
        ]
      },
      "CreateTopup": {
        "type": "object",
        "properties": {
          "amount_usd": {
            "type": "number",
            "minimum": 5,
            "maximum": 10000,
            "description": "Amount to add, in US dollars.",
            "example": 25
          },
          "return_url": {
            "type": "string",
            "format": "uri",
            "description": "Where to send the customer after checkout."
          }
        },
        "required": [
          "amount_usd"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$",
            "example": "6a96a3ead6e886d42462dd3e"
          },
          "object": {
            "type": "string",
            "enum": [
              "api_key"
            ]
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "example": "wv_live_"
          },
          "last4": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "agents:read",
                "agents:write",
                "calls:read",
                "calls:write",
                "leads:read",
                "leads:write",
                "campaigns:read",
                "campaigns:write",
                "knowledge_bases:read",
                "knowledge_bases:write",
                "phone_numbers:read",
                "phone_numbers:write",
                "sip_trunks:read",
                "sip_trunks:write",
                "appointments:read",
                "appointments:write",
                "webhooks:read",
                "webhooks:write",
                "api_keys:read",
                "api_keys:write",
                "usage:read",
                "billing:read",
                "billing:write"
              ]
            }
          },
          "spend_limit_micros": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Guardrail, enforced within about a minute. Not a hard cap.",
            "example": 194000
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "object",
          "name",
          "prefix",
          "last4",
          "scopes",
          "spend_limit_micros",
          "last_used_at",
          "expires_at",
          "created_at"
        ]
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as starting_after to fetch the next page."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CreatedApiKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "The secret. Shown once and never again — store it now.",
                "example": "wv_live_xxxxxxxxxxxxxxxxxxxxxx_ab12"
              }
            },
            "required": [
              "key"
            ]
          }
        ]
      },
      "CreateApiKey": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "For your own reference, e.g. \"production backend\"."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "agents:read",
                "agents:write",
                "calls:read",
                "calls:write",
                "leads:read",
                "leads:write",
                "campaigns:read",
                "campaigns:write",
                "knowledge_bases:read",
                "knowledge_bases:write",
                "phone_numbers:read",
                "phone_numbers:write",
                "sip_trunks:read",
                "sip_trunks:write",
                "appointments:read",
                "appointments:write",
                "webhooks:read",
                "webhooks:write",
                "api_keys:read",
                "api_keys:write",
                "usage:read",
                "billing:read",
                "billing:write"
              ]
            },
            "minItems": 1,
            "description": "Grant only what the key needs. There is no admin scope."
          },
          "spend_limit_micros": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Micro-USD. 1_000_000 = $1.00.",
            "example": 194000
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601, always UTC.",
            "example": "2026-09-01T12:00:00.000Z"
          }
        },
        "required": [
          "name",
          "scopes"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List agents",
        "description": "Cursor-paginated. Requires `agents:read`.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "How many records to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "description": "Return records after this cursor."
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "description": "Return records before this cursor."
            },
            "required": false,
            "name": "ending_before",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create an agent",
        "description": "Requires `agents:write`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created an agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Retrieve an agent",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The an agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update an agent",
        "description": "Only the fields you send are changed.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated an agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete an agent",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List leads",
        "description": "Cursor-paginated. Requires `leads:read`.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "How many records to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "description": "Return records after this cursor."
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "description": "Return records before this cursor."
            },
            "required": false,
            "name": "ending_before",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "tag",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 200,
              "description": "Matches name or phone."
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of leads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a lead",
        "description": "Requires `leads:write`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLead"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created a lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Retrieve a lead",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The a lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update a lead",
        "description": "Only the fields you send are changed.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated a lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Retry after the interval in `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete a lead",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{24}$",
              "example": "6a96a3ead6e886d42462dd3e"
            },
[...]
